{
  "env": {
    "commonjs": true,
    "es2020": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:cypress/recommended", "plugin:prettier/recommended"],
  "plugins": ["cypress", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
